input.input-default {
    background-color: #ebe9e4;
    box-shadow:#ebe9e4;
}

button.btn-square{
    border-radius: 0;
}

button.btn-square.btn-square-fixed-borders {
    border-left-style: none
}

button.btn-square.btn-square-fixed-borders:first-child{
    border-left-style: solid
}

button.btn-context {
    width: 40px;
    height: 40px;
}

.border.border-info.todo-item {
    margin-top: -5px;
}

.form-control.white-background {
    background-color: #FFFFFF;
}

.give-me-space-top {
    margin-top: 10px;
}

.give-me-space-bottom {
    margin-bottom: 5px;
}

.btn.btn-pagination {
    width: 40px;
    height: 40px;
}
